.fullCalendarWrapper .fc-header-toolbar div:nth-child(2) div {
  display: flex;
  gap: 10px;
}

.fullCalendarWrapper button {
  background-color: rgb(26, 115, 232) !important;
  border: none !important;
  margin: 1px !important;
}

th[class~="fc-day-sun"] {
  pointer-events: none !important;
  background-color: rgb(236, 241, 174) !important;
}

.fc-col-header-cell + .fc-day-sat {
  pointer-events: none !important;
  background-color: rgb(236, 241, 174) !important;
}
